/* work for divone */
body{
    padding: 0px;
    margin: 0px;
    
}
.divone{
    background-color: black;
    height: 90px;
    position: relative;
    bottom: 20px;
    

}
.navigation ul li{
  
    width: 12%;
    height: 25px;
    padding: 0%;
    list-style: none;
    float: right;
    background-color: black;
    color: gray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    position: relative;
    top: 30px;
}
.myimage{
    position: relative;
    bottom: 10px;
}
/* this is the work for divtwo */

.divtwo{
    background-color: blue;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 50px;
    position: absolute;
    width: 100%;
    margin-top: -2%;
    cursor: pointer;
}

/* this is the work for divthree */

    .divthree{
        position: absolute;
        width: 100%;
        height: 50px;
        background-color: white;
        margin-top: 24px;
        color: black;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }
    .shop{
        color: blue;
        text-decoration: none;

    }

/* this is the work for divfour */
.divfour
{
    
    position: absolute;
    width: 100%;
    color: white;
    height: 600px;
    margin-top: 75px;
    background-image: url(img/download.jpg);
    background-repeat: no-repeat;
    background-size: 360mm;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    ;
}
.divfour ul li{
    list-style: none;
    font-size: 20px;
    line-height: 25px;
}

/* this is the work for divfive */
.divfive
{
    margin-top: 750px;
    height: 700px;
    width: 100%;
    background-image: url(img/eleven.jpg);
    background-repeat: no-repeat;
    background-size: 400mm;
}
.divfive ul li
{
   
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    width: 100%;
    line-height: 25px;
    list-style: none;
    text-decoration: none;
}
.divsix{
    margin-top: -100px;
    width: 100%;
    background-image: url(img/ipad.jpg);
    background-size: 2500px;
    background-repeat: no-repeat;
    height: 500px;
    background-position: 60%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



